# dependências
/node_modules
.pnp
.pnp.*

# testes
/coverage
/test-results
/playwright-report
/blob-report
/playwright/.cache

# next.js
/.next/
/out/
/build

# diversos
.DS_Store
*.pem
*.pfx
*.p12

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# variáveis de ambiente (o .env.example é versionado)
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# supabase
supabase/.branches
supabase/.temp
supabase/.env
